// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$dark-gray: #919190;
$darker-gray: #464341;
$darkest-gray: #282721;
$mid-gray:  #CBCBCB;
$new-gray: #E8E3E6;
$light-blue: #DFF0FF;
$black: black;
$black50: rgba(black, 0.5);
$black80: rgba(black, 0.8);
$black20: rgba(black, 0.2);

$orange-heavy: #ff7517;
$orange-light: #feb062;
$lemon: #f5f5c6;
$army-green: #7da87b;
$ninja-turtle: #326765;
$pistache: #4ecca3;
$papaya: #F25F5C;
$laranja: #F55D3E;

$marine: #0B132B;
$main-blue: #08d9d6;
$dark: #252a34;
$pink: #ff2e63;
$my-gray: #eaeaea;
$blue-ribbon: #247BA0;
$green-carpet: #70C1B3;
$green-sheet: #B2DBBF;
$lemon-jelly: #B2DBBF;
$light-skin: #FFFFFF;
$aqua: #00FFED;
$salmon: #F25F5C;
$banana: #FFE066;

//call outs

 $active-green: #98E68A;
 $active: #8AEEA2;

