<div class="container">
  <div class="col-xs-offset-4  col-xs-4" >


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    html:{class: 'devise-form'}) do |f| %>
      <%= f.error_notification %>
      <h2>Cadastrar-se</h2>


      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true %>
        <%= f.input :screen_name,
                    required: true,
                    autofocus: true %>
        <%= f.input :bio,
                    required: true,
                    autofocus: true %>
        <%= f.input :photo,
                    required: true,
                    autofocus: true %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.input :email,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" }%>

        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>

  </div>

</div>
