<% if user_signed_in? %>
  <div class="trombone-form-container">
    <%= simple_form_for(trombone, html: {class: 'trombone-form'}, remote: true) do |f|   %>
      <%= f.input :status, label: false, placeholder: 'Fala a real'  %>

      <div class="row">
        <div class="col-xs-6">
          <%= f.submit class: 'btn btn-md btn-primary' %>
        </div>
        <!-- <div class="col-xs-6 align-right ">
          <%= f.input :photo, label: false, hint: 'Adicionar foto'  %>
          <%= f.input :photo_cache, as: :hidden %>
        </div> -->

      </div>
    <% end %>
  </div>
<% end %>
