<%= form_tag trombones_path, method: :get, class: 'form-inline search-form' do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Ache um trombonasso"
  %>
  <%= submit_tag 'Bora', class: 'btn btn-sm btn-primary'  %>
<% end %>
