// Here you generate *JavaScript* that would be executed in the browser
function refreshForm(innerHTML) {
  const newTromboneForm = document.getElementById('new_trombone');
  newTromboneForm.innerHTML = innerHTML;
}

function addTrombone(tromboneHTML) {
  const trombones = document.getElementById('trombones');
  trombones.insertAdjacentHTML('afterbegin', tromboneHTML);
}

<% if @trombone.errors.any? %>
  refreshForm('<%= j render "shared/forms/form_trombone", trombone: @trombone %>');
<% else %>
  addTrombone('<%= j render "shared/components/card_trombone", trombone: @trombone %>');
  refreshForm('<%= j render "shared/forms/form_trombone", trombone: Trombone.new %>');
<% end %>
