<div class="container">
  <div class="index-trombone-container">
    <%= render 'shared/forms/form_trombone', trombone: @trombone  %>
  </div>

  <%= render 'shared/components/container_trombones', trombones: @trombones  %>
</div>
