<div class="container">
  <div class="col-xs-offset-4  col-xs-4" >

    <h2>Mudar Senha</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'devise-form' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
                    label: "New password",
                    required: true,
                    autofocus: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change my password" %>
      </div>
      <%= render "devise/shared/links" %>

    <% end %>
  </div>

</div>
