<div class="container">
  <div class="col-xs-offset-4  col-xs-4" >
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f| %>
      <%= f.error_notification %>
      <h2>Esqueceu a sua senha?</h2>


      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>

  </div>
</div>
