<div class="container">
  <div class="col-xs-offset-4  col-xs-4" >
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: 'devise-form'}) do |f| %>
      <div class="form-inputs">
      <h2>Entrar</h2>

        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
      <%= render "devise/shared/links" %>

    <% end %>
  </div>

</div>
