.banner-user {
  background-image: linear-gradient(to right, #00F260, #0575E6);
  margin:0px;
  padding:0px;
  color: white;
  text-align: center;
  height: var(--half-height);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-content {
    text-align: center;
    margin: 0px;
    padding:0px;
    line-height: 8px;
  }
  .photo-user-banner{
    width:250px;
    border-radius: 50%;
    border: solid 4px $active-green;
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}
