* {
  --user-photo-width: 60px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background-size: cover !important;
  // background-position: center;
  background-color: $aqua;
  color: $dark;
  position: relative;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
}
.card-user-photo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: var(--user-photo-width);
  border-radius: 50%;
}
.card-trombone-screen-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  a {
    text-decoration: none;
    color: $dark;
  }
  a:link {
    text-decoration: none;
    color: $dark;
  }
  a:visited {
    text-decoration: none;
    color: $dark;
  }
  a:active {
    text-decoration: none;
    color: $dark;
  }
}
.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0px 2px 0px 2px;
  h2{
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
  }
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
  }
}
