.trombone-form-container {


}

.trombrones-container {
  background-color: $dark;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-summary-container{
  color: $blue-ribbon;
}
