.footer {
  // background: #F4F4F4;
  background: $marine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 100px;
  height: var(--footer-height);
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $main-blue;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  color: $main-blue;
  opacity: 0.25;
  a{
  text-decoration: none;
    &:hover{
      opacity: 1;
    }
  }
}
