.trombone-form {
  margin:20px;
  padding:15px;
  background-color: $marine;
  border: solid 3px $blue-ribbon;
  border-radius:6px;
  input, textarea{
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
  }
  .btn{
    font-family: 'Cabin';
  }
}

.search-form {
  input{
    border-radius: 6px;

  }
}

.align-right * {
  float:right;
  text-align:right;
}

.devise-form{
  margin:10px;
  padding:20px;
  background-color: $dark;
  border-radius:9px;
  border: solid 3px $blue-ribbon;
  color: $lemon-jelly;
  h2{
    text-align: center;
  }
  input, select{
    border-radius: 6px;
  }
}


// @media (min-width: 900px) {
//   .trombone-form{
//     position: sticky;
//     top: calc( var(--navbar-height) + 10px);
//   }
// }
