// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "wrappers";
@import "forms";
@import "cards";
@import "footer";
@import "banners";
@import "containers";

* {
  --navbar-height: 70px;
  --footer-height: 100px;
  --full-height: calc(100vh -  var(--footer-height) - var(--footer-height) + 25px);
  --half-height: calc( var(--full-height) / 2  + 150px);
}


.fill {
  width:100%;
  // height:100%;
  // min-height:100%;
  padding:0px;
}
