<div class="banner-user" >
  <div class="banner-content">
    <%= image_tag user_photo(user), class: 'photo-user-banner'  %>
    <h1><%= "@#{user.screen_name}"  %></h1>
    <p><%= user.name  %></p>
    <p><%= "Trombones: #{user.trombones.size} Usuario desde: #{long_date(user.created_at.to_date)}"  %></p>
  </div>
</div>
