<div class="col-xs-12 col-sm-6 col-sm-offset-3" id='tromboneId--<%= trombone.id  %>'>
  <div class="card">
    <div class="card-trombone-screen-name"><%= link_to "@#{trombone.user.screen_name.capitalize}", user_path(trombone.user)  %></div>
    <div class="card-content">
      <h2><%= best_in_place_if owner?(trombone) , trombone, :status, as: :textarea, placeholder: 'Clique aqui para editar', ok_button: 'Salvar', cancel_button:'Cancelar'  %></h2>
      <p><%= "Em #{short_date(trombone.created_at.to_date)} há #{time(trombone.created_at.to_time)}"  %></p>
    </div>
    <a href="<%= user_path(trombone.user)  %>">
      <img class="card-user-photo" src='<%= user_photo(trombone.user)  %>'>
    </a>
  </div>
</div>
