<div class=" row trombrones-container" id='trombones'>
  <%= render 'shared/components/container_search_summary'  %>
  <% trombones.each do |trombone|  %>
    <%= render 'shared/components/card_trombone', trombone: trombone  %>
  <% end %>
</div>
