<% if search?  %>
  <div class="row search-summary-container">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2><%= @trombones.size  %> Resultados com as palavras: <%= params[:query]  %></h2>
    </div>
  </div>
<% end %>
