<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/oscarlaf03" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/oscarortizgarcia/"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Criado por Oscar Ortiz
    <br>
    <a href="mailto:ortizg.oscar@gmail.com">ortizg.oscar@gmail.com</a>
  </div>
</div>
